{% extends 'base.html.twig' %}

{% block title %}Quest accettata{% endblock %}

{% block content %}
    <h3>Decidi se completare la quest o abbandonarla e cercare un'altra quest</h3>  
    {# <p>
    {{ app.session.get('player') }}<br>
    {# {{ app.session.get('places') }}<br> 
    {{ app.session.get('npc') }}<br>
    {{ app.session.get('quest_type') }}<br>
    </p> #}

    <a href="{{ path('reward') }}">
        <button type="submit">Completa e termina quest</button>
    </a>

    <a href="{{ path('home') }}">
        <button type="submit">Abbandona e cerca un'altra quest</button>
    </a>

    
{% endblock %}
