{% extends 'base.html.twig' %}

{% block title %}Spiegazione della quest{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>{{ player }}</p>
    <p>{{ place }}</p>
    <p>{{ npc }}</p>
    <p>{{ quest_type }}</p>

    <a href="{{ path('accept') }}">
        <button type="submit">Accetta quest</button>
    </a>

    <a href="{{ path('refuse') }}">
        <button type="submit">Rifiuta quest</button>
    </a>
{% endblock %}
