<p class="testo-bot">"{{ questBot }}"</p>
<div class="div-parametri">
    <ul class="ul-parametri">
        <li class="li-parametri">il nemico da eliminare è | {{ enemy['id'] }} | {{ enemy['title'] }} ({{ enemy['organization'] }}, lvl.{{ enemy['socialRank'] }})</li>
        <li class="li-parametri">Il mostro da uccidere è un |{{ enemy['organization'] }}|</li>
        <li class="li-parametri">E si trova nel |{{ room['title'] }}|,</li>
        <li class="li-parametri">Nel |{{ room['building'] }}| di |{{ room['place'] }}|</li>
    </ul>
</div>
