<p class="testo-bot">"{{ questBot }}"</p>
<div class="div-parametri">
    <ul class="ul-parametri">
        <li class="li-parametri">l'item selezionato da recuperare è {{ item['id'] }} | {{ item['title'] }} (lvl. {{ item['rarity'] }})</li>
        <li class="li-parametri">L'item si trova in una zona controllata da |{{ room['faction']}}|</li>
        <li class="li-parametri">Nel |{{ room['building']}}| di |{{ room['place']}}|</li>
        <li class="li-parametri">Si trova nel |{{ room['hidingPlace'] }}|</li>
    </ul>
</div>
